{% template main %}
<link rel="stylesheet" href="https://www.trmnlplugins.xyz/year-in-colors/style.css">

{% assign current_year = "now" | date: "%Y" %}
{% assign timestamp = trmnl.system.timestamp_utc | plus: trmnl.user.utc_offset %}
{% assign hemisphere = trmnl.plugin_settings.custom_fields_values.hemisphere %}

<div class="layout year-clock" id="layout">
  <div class="center-point" id="center"></div>
  <div class="seasons-disk" id="seasons-disk"></div>
  <div class="hand-container" id="hand-container">
    <div class="hand" id="hand">
      <div class="hand-arrow"></div>
    </div>
    <div class="center-dot"></div>
  </div>
  {% if trmnl.plugin_settings.custom_fields_values.yearlabel == 'true' %}
  <div class="label label--inverted current-year pt--1 pb--0">{{ current_year }}</div>
  {% endif %}
</div>
<script>
  window.trmnlTimestamp = {{ timestamp | default: 0 }};
  window.trmnlHemisphere = "{{ hemisphere | default: 'northern' }}";
</script>
<script src="https://www.trmnlplugins.xyz/year-in-colors/script.js"></script>
{% endtemplate %}